li{
    width: 80%;
    position: relative;
}
p{
    word-wrap: break-word;
}
.texto{
    padding: 24px;
    background-color: white;
    text-align: center;
}
.textotachado{
    text-decoration: line-through;
}
.complete{
    position: absolute;
    top: 1%;
    left: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
}
.completed{
    
    color: green;
}
.eliminar{
    position: absolute;
    top: 3px;
    right: 11px;
    cursor: pointer;
    width: 20px;
}
.eliminar:hover{
    box-shadow: 4px 2px 42px 7px rgba(179,166,166,0.75);
}