.subtitulo {
    font-size: 24px;
    color: black;
    text-align: center;
}

.logo {
    width: 100px;
    margin: 20px;
}
.contendor-logo-counter{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
}